@charset "UTF-8";
html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  margin: 0;
  color: #303032;
  background-color: #E5E5E5;
}

h1, h2, h3, h4, p, span {
  margin: 0;
}

button, a {
  cursor: pointer;
}

.background-color {
  background-color: #FCEAE8;
  min-width: 36.388889%;
  height: 630px;
  position: absolute;
  top: 0;
  right: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

/*start header*/
.header {
  /*start burger-menu*/
  /*с этим значением header всегда будет "прикручен" к верху страницы даже при прокрутке*/
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  /*большое значение z-index'а гарантирует, что элемент будет отображаться "выше" остальных элементов*/
  z-index: 10;
  /*end burger-menu*/
}

.header .header:before {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*для того, чтобы меню в адаптивном варианте не перекрывало шапку*/
  z-index: 3;
}

.header__burger {
  display: none;
}

.header__body {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.header__list {
  padding: 0;
  display: flex;
  list-style: none;
  position: relative;
  z-index: 5;
}

.header__list li {
  margin-right: 60px;
}

.header__link {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.13em;
  color: #303032;
  text-transform: uppercase;
  text-decoration: none;
}

.header__button-search {
  border: none;
  background-color: inherit;
}

.header__button_basket {
  border: none;
  background-color: inherit;
}

/*end header*/
/* start main*/
/*чтобы отработал flex*/
.slick-initialized .products-slider__flex,
.slick-slide .products-slider__flex {
  display: flex;
  position: relative;
}

/*стилизация slick-dots*/
.products-slider .slick-dots {
  max-height: 205px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  bottom: 20%;
}

.products-slider .slick-dots li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  width: 41px;
  height: 58px;
}

.products-slider .slick-dots li span {
  font-style: 'PlayfairDisplay-Regular', sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.3);
}

.products-slider .slick-dots li.slick-active span {
  font-size: 40px;
  line-height: 58px;
  color: #000000;
  position: relative;
}

.products-slider .slick-dots li.slick-active span::after {
  content: '';
  box-sizing: border-box;
  width: 2px;
  height: 54px;
  background-color: #000000;
  position: absolute;
  right: -10px;
}

.products-slider__flex {
  padding-top: 105px;
  justify-content: flex-start;
  align-items: center;
}

.products-slider__flex img {
  margin-left: 40px;
}

.products-slider__content {
  max-width: 545px;
}

.products-slider__content h1 {
  font-family: 'PlayfairDisplay-Bold', sans-serif;
  font-size: 57px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.products__name, .products__price {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 10px;
}

.products__price-sale {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 30px;
  line-height: 41px;
  margin-left: 22px;
}

.products__button-buy {
  box-sizing: border-box;
  border: none;
  background-color: #303032;
  color: #ffffff;
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  padding: 18px 81px;
  margin-top: 25px;
}

/* end main*/
/*start section.news*/
.news {
  padding-top: 165px;
  padding-bottom: 100px;
}

.news__flex {
  display: flex;
  justify-content: space-between;
}

.news__flex-left {
  display: flex;
  max-width: 570px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.news-item {
  box-sizing: border-box;
  min-width: 270px;
  min-height: 289px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.news-item:hover {
  background-color: #FAECE9;
}

.news-item__item-flex {
  box-sizing: border-box;
  min-width: 270px;
  max-height: 289px;
  display: flex;
  align-items: center;
}

.news-item__title {
  font-family: 'PlayfairDisplay-Bold', sans-serif;
  font-size: 28px;
  letter-spacing: 0.05em;
  position: relative;
}

.news-item__title::after {
  content: '';
  width: 90px;
  height: 4px;
  background-color: #303032;
  display: block;
  position: absolute;
  bottom: -14px;
}

.news-item__name {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 7px;
}

.news-item__price {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 28px;
  line-height: 38px;
}

/*стилизация карточек с продукцией*/
.item-1 {
  position: relative;
  padding-top: 20px;
}

.item-1 img {
  margin-bottom: 10px;
}

.item-2 {
  position: relative;
}

.item-3 {
  position: relative;
}

.item-1 .news-item__name, .item-2 .news-item__name, .item-3 .news-item__name {
  position: absolute;
  bottom: 62px;
}

.item-1 .news-item__price, .item-2 .news-item__price, .item-3 .news-item__price {
  position: absolute;
  bottom: 20px;
}

.item-4 {
  min-width: 570px;
  min-height: 614px;
  position: relative;
}

.item-4 .news-item__name {
  position: absolute;
  bottom: 62px;
}

.item-4 .news-item__price {
  position: absolute;
  bottom: 20px;
}

/*end section.news*/
